.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 23px 0;
}

.footer .text-13 {
    color: rgba(255, 255, 255, 0.70);
}

.footer__menu-mobile {
    width: 100%;
    padding: 14px 0;
    display: none;
    background: var(--system-white);
    box-shadow: 0px -0.5px 0px 0px rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(2.5px);
    position: sticky;
    bottom: 0;
    z-index: 15;
}

.footer__menu-link {
    position: relative;
}

.footer__menu-link-label {
    top: -1px;
    right: -6px;
}

@media(max-width:767.98px) {
    .footer__menu-mobile {
        display: flex;
        justify-content: center;
        gap: 38.5px;
    }
}
